@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    @apply leading-relaxed;
    overflow-x: hidden;
  }

  .page {
    @apply w-full h-screen overflow-auto;
  }

  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }

  .h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }

  p {
    @apply leading-[1.8] text-white/60 font-light;
  }

  .btn,
  .input {
    @apply h-[52px];
  }

  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }

  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }

  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
}

/* Gradient css for the slogan animation */
.gradient-text {
  background: linear-gradient(90deg, #050b64, hsl(199, 100%, 50%), #ffffff);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  font-weight: bold;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.typewriter-text {
  font-size: 40px;
  color: #f13067;
}

.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footer {
  font-size: 14px;
  color: #7d7d7e;
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    font-size: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


.buy-template {
  font-size: 20px;
}

/* Card styles */
.card-view {
  width: 100%;
  max-width: 400px;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  flex-grow: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .h2 {
    font-size: 28px;
  }

  .typewriter-text {
    font-size: 24px;
  }

  .footer {
    padding-left: 1rem;
    padding-bottom: 20px;
  }
}
